<mat-card>
    <mat-card-title>About</mat-card-title>
    <mat-card-content>
        <p>Smart Home dashboard.</p>
        <p>Project url: <a href="https://github.com/olback/smart-home">github.com/olback/smart-home</a></p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Version</mat-card-title>
    <mat-card-content>
        <p>
            Angular: {{version.angular}}<br>
            Client: {{version.client}}<br>
            Server: {{version.server}}<br>
            API: {{version.api}}<br>
            Hash: {{version.hash}}
        </p>
    </mat-card-content>
</mat-card>