<div class="container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button aria-label="Menu" (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Smart Home Dash</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="dash">
                    <mat-icon matListIcon class="material-icons-outlined">space_dashboard</mat-icon>
                    <span matLine>Dashboard</span>
                </a>
                <a mat-list-item routerLink="temperature">
                    <mat-icon matListIcon class="material-icons-outlined">thermostat</mat-icon>
                    <span matLine>Temperature</span>
                </a>
                <a mat-list-item routerLink="weather">
                    <mat-icon matListIcon class="material-icons-outlined">wb_sunny</mat-icon>
                    <span matLine>Weather</span>
                </a>
                <a mat-list-item routerLink="speakers">
                    <mat-icon matListIcon class="material-icons-outlined">speaker</mat-icon>
                    <span matLine>Speakers</span>
                </a>
                <a mat-list-item routerLink="tradfri">
                    <mat-icon matListIcon class="material-icons-outlined">tungsten</mat-icon>
                    <span matLine>IKEA Trådfri</span>
                </a>
                <a mat-list-item routerLink="shopping-list">
                    <mat-icon matListIcon class="material-icons-outlined">shopping_cart</mat-icon>
                    <span matLine>Shopping list</span>
                </a>
                <a mat-list-item routerLink="notifications">
                    <mat-icon matBadge="7" matListIcon class="material-icons-outlined">notifications</mat-icon>
                    <span matLine>Notifications</span>
                </a>
                <!-- TODO: Tree with management things -->
                <a mat-list-item routerLink="locations">
                    <mat-icon matListIcon class="material-icons-outlined">location_on</mat-icon>
                    <span matLine>Locations</span>
                </a>
                <a mat-list-item routerLink="about">
                    <mat-icon matListIcon class="material-icons-outlined">info</mat-icon>
                    <span matLine>About</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>