<div class="tradfri">
    <mat-card>
        <mat-card-title>Light</mat-card-title>
        <mat-card-content>
            <mat-icon class="material-icons-outlined">tungsten</mat-icon>
            <div class="colors">
                <div class="color selected"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-button>ON</button>
            <button mat-button>OFF</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Outlet</mat-card-title>
        <mat-card-content>
            <mat-icon class="material-icons-outlined">outlet</mat-icon>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-button>ON</button>
            <button mat-button>OFF</button>
        </mat-card-actions>
    </mat-card>
</div>